
body {
    background-color: #6C757D;
    color: #6C757D;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #030303;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo.ativo {
    display:block;
}